<!-- -------------------------------------------- Sessão 1 - Praias ----------------------------------------------------------------- -->
<section class="container-fluid mt-4">
    <div class="col">
        <h1 class="display-4 d-flex justify-content-center">Praias</h1>
        <div class="border-bottom-titles"></div>
    </div>
    <section class="row col-12 mt-5" id="slide_praia">
        <div class="col-md-6 col-sm-12 my-auto" id="aumento_demanda">
            <ul class="lead">
                <li">
                    <h3 class="subtitle">Verão chegando.</h3>
                    Praia, areia, roupas leves, champanhe, fogos e festas super animadas. Parece o combo perfeito
                    para a virada do ano, certo? Por isso, nós nos preocupamos com a demanda e descarte de resíduos
                    principalmente nessa época do ano, no Brasil.
                    </li>
                    <li class="mt-3">
                        Um estudo realizado em 2012 pela (USP) revelou que estima-se que 80% de toda a poluição dos
                        oceanos tenha origem terrestre, como a gestão inadequada do lixo urbano.
                    </li>
            </ul>
        </div>


        <!-- -------------------------------------------- Carusel Praia ----------------------------------------------------------------- -->
        <div class="col-md-6 mt-5" data-aos="fade-left">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000"
                class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./img/praia-1.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./img/praia-2.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./img/praia-3.jpg" alt="Terceiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./img/praia-4.jpg" alt="Terceiro Slide">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--------------------------------- Por que adotar esta causa? --------------------------------->
<section class="container-fluid mt-5 mb-5">
    <div class="col">
        <h1 class="display-4 d-flex justify-content-center mt-5">Por que adotar esta causa?</h1>
        <div class="border-bottom-titles"></div>
    </div>
    <section class="row col-12 mt-4 mb-4" id="slide_praia">

        <div class="col-md-6 p-3 " data-aos="fade-left">
            <img src="./img/logistica_reversa.png" alt="Logística Reversa" class="img-fluid">
        </div>

        <!-- O que é  ESG -->
        <div class="col-md-6 col-sm-12 my-auto" id="aumento_demanda">
            <ul class="lead text-right">
                <li >
                    <h3 class="subtitle">O que é ESG?</h3>
                    O ESG (Environmental, Social e Governance) ou sua tradução para o português ASG (Ambiental,
                    Social e Governança) vem assumindo importância crescente no mundo dos negócios mundiais.
                </li>
                <li class="mt-2">
                    Esse novo mundo ESG visa, sobretudo, a garantirmos empresas responsáveis para com o planeta e a
                    sociedade, de forma a não exaurirmos os recursos naturais, deixando um legado para as futuras
                    gerações.
                </li>
            </ul>
        </div>
    </section>
</section>