<section class="container" id="faq">
  <!-- Nav tabs -->
 <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Quanto Custa</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Como participar</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Quais os Benefícios</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Quem Pode Participar</a>
    </li>
    
  </ul>

  <!-- Tab panes --> 
   <div class="tab-content">

    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">01 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores rem adipisci omnis voluptas, temporibus saepe ut aliquam officiis ipsam repudiandae eum magnam vitae, inventore repellendus hic repellat quo mollitia. Atque?</div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">02 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores rem adipisci omnis voluptas, temporibus saepe ut aliquam officiis ipsam repudiandae eum magnam vitae, inventore repellendus hic repellat quo mollitia. Atque?</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">03 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores rem adipisci omnis voluptas, temporibus saepe ut aliquam officiis ipsam repudiandae eum magnam vitae, inventore repellendus hic repellat quo mollitia. Atque?</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">04 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores rem adipisci omnis voluptas, temporibus saepe ut aliquam officiis ipsam repudiandae eum magnam vitae, inventore repellendus hic repellat quo mollitia. Atque?</div>

  </div>
  
</section>
