<h2 class="display-4 d-flex justify-content-center small-capscol text-center mt-5 pt-5">FAQ</h2>
<div class="border-bottom-titles"></div>

<section class="container mt-5 mb-5 pb-5" id="faq">
  <div class="row mb-5">
    <div class="col-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item col-3" role="presentation">
          <a class="nav-link nav-link-color active" id="home-tab" data-toggle="tab" href="#home" role="tab"
            aria-controls="home" aria-selected="true">Quanto Custa</a>
        </li>

        <li class="nav-item col-3" role="presentation">
          <a class="nav-link nav-link-color" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Como participar</a>
        </li>

        <li class="nav-item col-3" role="presentation">
          <a class="nav-link nav-link-color" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
            aria-controls="messages" aria-selected="false">Quais os Benefícios</a>
        </li>

        <li class="nav-item col-3" role="presentation">
          <a class="nav-link nav-link-color" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
            aria-controls="settings" aria-selected="false">Quem Pode Participar</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">Para fazer parte do Programa
              Praia Limpa não há custos pela parte da empresa. Desde que a mesma esteja de acordo com o regulamento do
              Programa.
            </li>
          </ul>
        </div>

        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              Para participar do Programa
              Praia Limpa basta realizar o cadastro no formulário presente no site ou nos contactar pelo WhatsApp, para
              que
              um de nossos representantes entre em contato.
            </li>
          </ul>
        </div>

        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              Você receberá a máquina de coleta em seu estabelecimento para beneficiar o Meio Ambiente através da coleta
              das embalagens pós-consumo para reciclagem.
            </li>

            <li class="list-group-item list-group-item-action">
              Você poderá incentivar os frequentadores do seu estabelecimento, além de atrair mais clientes, ofertando
              bônus para os mesmos através da máquina de coleta.
            </li>

            <li class="list-group-item list-group-item-action">
              Descontos nos produtos da empresa Grupo Petropólis.
            </li>
          </ul>
        </div>

        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">Todas as empresas que já são,
              ou queiram ser, clientes do Grupo Petropólis e estejam de acordo com o regulamento do Programa.
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</section>