
<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Quanto custa
      </button>

    </h2>

    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Para fazer parte do Programa
        Praia Limpa não há custos pela parte da empresa. Desde que a mesma esteja de acordo com o regulamento do
        Programa.
      </div>
    </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">

      <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Como participar
      </button>

    </h2>

    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Para participar do Programa
        Praia Limpa basta realizar o cadastro no formulário presente no site ou nos contactar pelo WhatsApp, para que
        um de nossos representantes entre em contato.
      </div>
    </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Quais os Benefícios
      </button>

    </h2>

    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="list-group">
          <li class="list-group-item">
            Você receberá a máquina de coleta em seu estabelecimento para beneficiar o Meio Ambiente através da coleta
            das embalagens pós-consumo para reciclagem.
          </li>

          <li class="list-group-item">
            Você poderá incentivar os frequentadores do seu estabelecimento, além de atrair mais clientes, ofertando
            bônus para os mesmos através da máquina de coleta.
          </li>

          <li class="list-group-item">
            Descontos nos produtos da empresa Grupo Petropólis.
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Quem Pode Participar
      </button>

    </h2>

    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Todas as empresas que já são,
          ou queiram ser, clientes do Grupo Petropólis e estejam de acordo com o regulamento do Programa.
      </div>
    </div>

  </div>

</div>