<!DOCTYPE html>
<html>

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta name="Author" content="Paulo Henrique Jr">
  <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">

  <title>Programa praia limpa</title>

  <!-- CDN CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- CDN jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body id="top">

  <header>

    <div class="container-fluid mr-2">

      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="firula">

        <a class="navbar-brand" href="#top">
          <img src="./img/logo.png" style="margin-left: 1vw;" class="img-fluid" width=100vw alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"
            style="background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=056367');">
          </span>

        </button>

        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarCollapse">

          <ul class="navbar-nav ">

            <li class="nav-item">
              <a class="nav-link nav-link-menu text-black" style="width: fit-content;" aria-current="page" href="#top">
                <i class="fa fa-home" aria-hidden="true"></i>INICIO</a>

            </li>

            <li class="nav-item">

              <a class="nav-link nav-link-menu" href="#parceiros" style=" width: fit-content;">

                <i class="fa fa-handshake" aria-hidden="true"></i>
                PARCEIROS

              </a>

            </li>

            <li class="nav-item">
              
              <a class="nav-link nav-link-menu" aria-current="page" href="#faq" style="width: fit-content;">
                
                <i class="fa fa-question" aria-hidden="true"></i>
                DUVIDAS

              </a>
            </li>

            <li class="nav-item me-2">

              <a class="btn btn-danger p-2" style="color: white;" href="#register">

                <strong>SEJA UM PARCEIRO</strong>

              </a>

            </li>

          </ul>

        </div>

      </nav>
    </div>

  </header>

<main>