<div class="container-fluid p-0">
  <!-- Start Partners -->
  <h2 class="col col-12 text-center title m-0">Parceiros</h2>
    <div class="border-boder"></div>
  <section class="row ">
    

    <div class="col col-12 row justify-content-around mt-5 mb-5 bg-light p-5">
      
      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

    </div>
    <!-- End Partners -->
  </section>
</div>