<div class="container-fluid mt-5 mb-3 pt-4 p-0 bg-light" id="parceiros">
  <!-- Start Partners -->
  <h2 class="col col-12 text-center title m-0">Nossos parceiros</h2>
    <div class="border-boder"></div>
  <section class="row justify-content-around">

    <div class="col col-12 row mt-2 mb-5 bg-light p-2">
      
      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>

      <div class="col-6 col-md-3 col-sm-6 p-4">
        <img src="img/logo.png" width="100%" alt="Logotipo de um dos parceiros do projeto">
      </div>
      

    </div>
    
    <!-- End Partners -->
    
  </section>

</div>