<section class="working-area">
  <!--Start working area-->
  <div class="container pt-5">
    <div class="section-title text-center">
      <h1 class="display-4 d-flex justify-content-center small-caps" >programa praia limpa</h1>
      <div class="border-bottom-titles mt-1"></div>

      <p class="lead pt-5">Parceria com o Grupo Petrópolis para diminuir os
        resíduos nas praias.</p>

    </div>

    <div class="row pt-5 pb-5">

      <!--Start single working item-->
      <div class="col-md-3 col-sm-6 col-xs-12">

        <div class="single-working-item">

          <div class="icon-box">

            <div class="icon">

              <div class="flaticon-people">

                <img src="./img/image.png" alt="">

              </div>

            </div>

            <div class="count">

              <h3>1</h3>

            </div>

          </div>

          <div class="text-box text-center">

            <h3 class="subtitle">Participe</h3>

            <p class="lead">Cadastre sua empresa no Programa Praia Limpa.</p>

          </div>

        </div>

      </div>
      <!--End single working item-->

      <!--Start single working item-->

      <div class="col-md-3 col-sm-6 col-xs-12">

        <div class="single-working-item">

          <div class="icon-box">

            <div class="icon">

              <div class="flaticon-people">

                <img src="./img/maq.png" alt="">

              </div>

            </div>

            <div class="count">

              <h3>2</h3>

            </div>

          </div>

          <div class="text-box text-center">

            <h3 class="subtitle">Coleta</h3>

            <p class="lead">Receba a máquina de coleta para o seu estabelecimento.</p>

          </div>

        </div>

      </div>

      <!--End single working item-->

      <!--Start single working item-->
      <div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="single-working-item">

          <div class="icon-box">

            <div class="icon">

              <div class="flaticon-people">

                <img src="./img/discount.png" alt="">

              </div>

            </div>

            <div class="count">

              <h3>3</h3>

            </div>

          </div>

          <div class="text-box text-center">

            <h3 class="subtitle">Vantagens</h3>

            <p class="lead">Ganhe desconto nos seus próximos pedidos.</p>

          </div>

        </div>

      </div>

      <!--End single working item-->

      <!--Start single working item-->
      <div class="col-md-3 col-sm-6 col-xs-12">

        <div class="single-working-item">

          <div class="icon-box">

            <div class="icon">

              <div class="flaticon-people">

                <img src="./img/_partnership.png" alt="">

              </div>

            </div>

            <div class="count">

              <h3>4</h3>

            </div>

          </div>

          <div class="text-box text-center">

            <h3 class="subtitle">Incentive</h3>

            <p class="lead">Ofereça recompensas para seus clientes.</p>

          </div>

        </div>

      </div>
      
      <!--End single working item-->

    </div>

  </div>

  <!--End working area-->

</section>