<!--Start graf-->
<div class="container-fluid pb-4" style="background-color: #c93936;">

    <div class="section-title text-center">
        <h1 class="small-caps pt-3 pb-4" style="color: white;">Consumo Gera Residuos</h1>
    </div>

    <section class="row no-gutters">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-12 text-center">
                    <img class=" w-100" src="/img/brasil.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="row align-items-center justify-content-around">
                <div class="col-12 ">
                    <div class="progress color"> <span class="progress-left"> <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right"> <span class="progress-bar"></span></span>
                        <div class="progress-value">2.1%</div>
                    </div>

                    <div>
                        <p class="lead my-5" style="color: white;">O brasil recicla apenas 2,1% do total de resíduos coletados...</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="progress color"> <span class="progress-left"> <span class="progress-bar"></span> </span>
                        <span class="progress-right"> <span class="progress-bar"></span> </span>
                        <div class="progress-value">82.5%</div>
                    </div>
                    <div class="">
                        <p class="lead my-5" style=" color: white;">Aproximadamente 85,2% do que é produzido tem potencial de ser reciclado, ou seja, ser transformado no mesmo ou em outro material</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="progress color"> <span class="progress-left"> <span class="progress-bar"></span> </span>
                        <span class="progress-right"> <span class="progress-bar"></span> </span>
                        <div class="progress-value">18%</div>
                    </div>
                    <div class="">
                        <p class="lead my-5" style="color: white;">Somente 18% dos municípios brasileiros realizam, com alguns resultados positivos, a coleta seletiva.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!--End graf-->