<%- include('../partials/header'); %>
<div class="container">
  <div class="row">
      <div class="col">
          <h1 class="mt-5">Main Page:</h1>
          <form action="/interest/add" method="POST">
              <div class="form-group">
                  <label for="inputName">Full name:</label>
                  <input class="form-control" type="text" id="inputName" name="name">
              </div>
              <div class="form-group">
                  <label for="class">E-mail:</label>
                  <input class="form-control" type="text" id="class" name="email">
              </div>
              <div class="form-group">
                  <label for="g1">Phone number:</label>
                  <input class="form-control" type="text" id="g1" name="phone">
              </div>

              <button class="btn btn-primary" type="submit">Add interest</button>
          </form>
      </div>
  </div>
</div>
  <%- include('../partials/footer'); %>